* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

:root {
  font-size: min(calc(0.3em + 1vw), 4em);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'liga' on, 'dlig' on;
  line-height: 1.5;
  color: DarkSlateGray;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: rgb(0, 255, 255);
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
  
}

header > h1 {
  font-size: 1rem;
  text-align: center;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
}

main {
  display: flex;
}

.chapters {
  background-color: rgb(255, 255, 255);
  position: fixed;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 5px 5px 20px 5px;
  margin-left: 10px;
}

.chapters ul {
  list-style-type: none;
}

.chapters ul a {
  text-decoration: none;
  color: black;
}

.chapters ul a:hover {
  text-decoration: none;
  color: cyan;
}

.chapters ul h2 {
  color: springgreen;
}

.styleguides {
  width: min(100%, 38rem);
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  box-shadow: 5px 5px 10px 10px;
}

code {
  font-size: 20px;
  text-align: center;
}

img {
  max-width: 100%;
}

section + section {
  max-width: 950px;
}

h3 {
  border-bottom: DarkSlateGray 1px solid;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

pre {
  padding-left: 0.2rem;
  background: DarkSlateGray;
  color: white;
  font-size: 24px;
}


/* mobile */
@media only screen and (max-width: 600px) {
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  header{
    width: 100%;
    text-align: center;
  }

  .styleguides{
    width: 80%;
    justify-content: center;
  }

  .chapters{
    display: none;
  }


 
}